*{
  margin: 0;
  padding:0;
}

.login-container{
  height: 100vh;
  width: 100vw;
  background:url("../image/background/background1.jpg")no-repeat;
  background-size: cover;
}

.login-container .login-box{
  margin-top: 356px;
}



.login-container .login-username{
}

.login-container .login-password{
}

.login-container button{
  margin-top: 10px;
}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 2px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 2px solid rgba(81, 203, 238, 1);
}
